/* util */

* {
    padding: 0px;
    margin: 0px;
}

.selectable {
    cursor: pointer;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-colum {
    display: flex;
    flex-direction: column;
}

.confirm-bttn,
.cancel-bttn {
    padding: 0.5em;
    border: 1px solid black;
    background-color: #2c2b2b;
    background: linear-gradient(#00000077, #2c2b2b 30%);
    color: #b1b0b0;
    font-size: 1.10em;
    width: 8em;
    box-shadow: 1px 1px 4px -2px black;
}

.confirm-bttn {
    box-shadow: 
        1px 1px 4px -2px black,
        inset darkgreen 0px -12px 12px -6px;
}
.confirm-bttn:hover {
    box-shadow: 
        1px 1px 4px -2px black,
        inset darkgreen 0px -18px 18px -9px;
    color: white;
}

.cancel-bttn {
    background-color: darkred;
}

.action-button {
    padding: 0.5em;
    border: 1px solid black;
    background-color: #2c2b2b;
    background: linear-gradient(#00000077, #2c2b2b 30%);
    color: #b1b0b0;
    font-size: 1.10em;
    width: 8em;
    box-shadow: 1px 1px 4px -2px black;
}

.action-button:hover {
    border-bottom: 1px darkred solid;
    color: white;
}

body {
    background-color: #2c2b2b;
}

/* content wrapper */

#game-main-view{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#game-menu {
    /* background-color: red; */
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
    border-bottom: 1px solid white;
    box-shadow:  0px 2px 30px 5px darkred;
    border-bottom: 3px solid darkred;
}

#resource-view {
    /* background-color: blue; */
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#side-panel {
    background-color: #2c2b2b;
    flex-grow: 1;
}

#content-header{
    background-color: #2c2b2b;
    flex-grow: 1;
}

#content {
    background-color: #3f3f3f;
    flex-basis: 95%;
}

#game-main-view header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-color: #2c2b2b;
    margin-bottom: 4px;
    z-index: 10;
    
}

#game-main-view .content-body {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#game-main-view .main-view {
    width: 85%;
    display: flex;
    flex-direction: column
}

#game-menu button {
    font-size: 1.15em;
    background-color: #2c2b2b;
    color: #b1b0b0;
    padding: 0.5em;
    height: 100%;
    width: 10em;
    border: none;
    text-decoration: underline;
    
}

#game-menu button:hover {
    border-bottom: darkred solid 1px;
    background-color: #3f3f3f;
    box-shadow: 1px 1px 5px black;
}
/** mission-map **/

.mission-map {
    display: flex;
    flex-direction: column;
}

.mission-map > div{
    display: flex;
    flex-direction: row;
}

.mission-map .mission-map-entry {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

/** stat-viewer **/
.stat-viewer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.stat-viewer > div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.stat-viewer > div > div:first-child{
    width: 10em;
}

.stat-viewer > div > div{
    width: 5em;
}

/** location-selector **/
.location-selector {
    display: flex;
    flex-direction: row;
}

.location-selector > div {
    padding: 0.5em;
}

.location-selector .location-title {
    border-bottom: 2px solid black;
}

/** team-creator **/
.team-creator {
    display: flex;
    flex-direction: row;
    color: #b1b0b0;
}

.team-creator .available-survivors{

}

.team-creator .available-survivors .list-title {
    
}

.team-creator .list-title,
.team-creator .team-name {
    padding: 0.5em;
    background-color: #3f3f3f;
    border-bottom: 2px solid white;
}

.team-creator .list-title,
.team-creator .team-name input {
    
}

/** team-viewer **/
.team-viewer {

}

.team-viewer .team-name input {
    border: none;
    background-color: #00000000;
    margin-left: 0.5em;
    color: white;
}

.team-viewer .team-name input:hover,
.team-viewer .team-name input:focus {
    box-shadow: white 0px 1px 1px -1px; 
}

/** survivor-list-compact **/
.survivor-list-compact {
    padding: 0.5;
    min-width: 12em;
    background-color: #2c2b2b;
    box-shadow: 1px 1px 5px black;
}

.survivor-list-compact .survivor-entry {
    padding: 0.5em;
    margin-bottom: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    background-color: #3f3f3f;
}

/** mission-overview **/
.mission-overview .list-container {
    margin: 10px;
    box-shadow: 1px 1px 5px black;
    padding: 0.5em;
    display: inline-block;
}

.mission-overview .list-container .list-title {
    margin-bottom: 10px;
}

.mission-overview .list-container .list-title span {
    border-bottom: 1px solid white;
    padding: 0.2em;
}
/** mission-list **/
.mission-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mission-list .mission-entry {
    padding: 0.5em;
    background: linear-gradient(#00000077, #3f3f3f 20%);
    width: 8em;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
    color: #b1b0b0;
    margin-right: 5px;
}

.mission-list .mission-entry:hover {
    border: 1px solid #3f3f3f;
    border-bottom: 1px solid darkred;
}

.mission-list .mission-entry > div {
    background-color: #2c2b2b;
    margin-bottom: 0.2em;
    padding: 0.3em;
    border: 1px solid black;
}

/** resource-panel **/
.resource-panel span {
    margin-right: 5px;
}

/** ammo-panel **/
.ammo-panel > span{
    margin-left: 5px;
}

.ammo-panel > span > span{
    margin-left: 5px;
}

.survivor-image canvas {
    width: 50px;
    height: 50px;
    display: block;
}

/** battle-report */
.battle-report {

}

.battle-report .fallen-list-round {
    display: flex;
    flex-direction: row;
    min-height: 50px;
}

.battle-report .info-bar {
    display: flex;
    flex-direction: row;
    background-color: #b1b0b0;
    align-items: center;
}

.battle-report .info-bar > *{
    margin-right: 0.2em;
}

.battle-report .action-button.expand-round-bttn {
    width: 30px;
    height: 30px;
    padding: 0.1em;
}

.battle-report .round-detail-entry span{
    padding: 0.5em;
}

/* equipment-overview */
.equipment-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.equipment-panel {
    width: 100px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equipment-overview {
    display: inline-flex;
    flex-direction: column;
    /* max-width: 500px; */
}

/* survivor-detail-overview */
.survivor-detail-overview {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
.survivor-detail-overview-header {

}
.survivor-detail-overview-body {
    display: flex;
    flex-direction: row;
}
.survivor-detail-overview-stats-container {
    display: flex;
    flex-direction: column;
}

.survivor-detail-overview-stats-container .stat-viewer {
    border: 2px solid white;
    margin: 0.2em;
    padding: 0.2em;
}

.survivor-detail-overview-stats-container .stat-viewer > div:first-child {
    border-bottom: 1px solid black;
}


.survivor-detail-overview .equipment-panel {
    cursor: pointer;
}

.armory-view {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.armory-view .equipable-image {
    margin: 0.5em 0em 0em 0.5em;
}

/* dev-tools */
.named-text-input {
    display: inline-flex;
    flex-direction: row;
}
.named-text-input span {
    min-width: 6em;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.named-text-input .text-input {
    flex-grow: 1;
    padding: 0.5em;
}

/* list-view */
.list-view {
    display: inline-flex;
    flex-direction: column;
}

/* horizontal-menu */
.horizontal-menu {
    display: flex;
    flex-direction: row;
}

/* named-range-input */

.named-range-input .range-container {
    background-color: red;
    position: relative;
    width: 200px;
    height: 2em;
}

.named-range-input .handle {
    background-color: yellow;
    position: absolute;
    width: 1.5em;
    height: 2em;
    -moz-user-select: -moz-none;
    user-select: none;
    
}


