* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  background: linear-gradient(-15deg, orange, orangered);
}
/****util ****/
.bordered {
  border: 2px solid black;
  border-collapse: collapse;
}

.vertical-align {
  display: flex;
  flex-direction: column;
}

.back-button,
.menu-button,
.confirm-button,
nav > button
{
  width: 200px;
  height: 55px;
  font-size: 1.2em;
  text-shadow: 1px 1px black;
  color:  white;
  box-shadow: 1px 1px 2px black;
  border: 1px solid black;
  margin: 2px;
}
.menu-button, nav > button {
  background: linear-gradient(red,black);
  color: white;
}
.menu-button:hover, nav > button:hover{
   box-shadow: 1px 1px 5px black;
   background: linear-gradient(darkred,black);
   border: 2px solid white;
}

.confirm-button {
  background-color: lightgreen;
  background: linear-gradient(lightgreen, green);
}
.confirm-button:hover{
  box-shadow: 1px 1px 5px black;
  background: linear-gradient(lightgreen, darkgreen);
}

.back-button {
  background-color: red;
  background: linear-gradient(red, darkred);
}
.back-button:hover{
  box-shadow: 1px 1px 5px black;
  background: linear-gradient(rgb(252, 81, 81),rgb(134, 40, 40));
}

/**** header-section ******/
header {
  height: 10%;
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
header nav button {
  max-width: 200px;
  flex-grow: 1;
  font-size: 1.4em;
}
header .resource-view {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
header .resource-view div {
  flex-grow: 1;
  max-width: 150px;
  border: 1px black solid;
  margin-left: 1px;
  margin-right: 1px;
}

/***** loot-item-view*******/
.loot-item-view {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
  
}
.loot-item-icon {
  width: 150px;
  height: 150px;
  background-color: blueviolet;
  border: 1px solid black;
  margin: 3px;
}

.loot-item-icon img{
  max-width: 100%;
  max-heigt: 100%;
}
.loot-item-name{
  text-align: center;
}

/**** content-section ******/
.container {
  display: flex;
  flex-grow: 1;
  max-height: 90%;
}
main {
  flex-grow: 1;
  flex-basis: 85%;
  max-height: 100%;
}

section {
  flex-basis: 15%;
  flex-grow: 1;
}

.end-round-bttn {
  height: 50px;
  font-size: 1.1em;
  box-shadow: 1px 1px 5px black;
  text-shadow: 1px 1px 1px white;
  color: black;
  background-color: lightgreen;
}
.end-round-bttn:hover{
  box-shadow: 1px 1px 10px green;
  font-size: 1.15em;
}
#bttn-end-round {
  margin: 5px;
}

/***** Survivor Avatar Name Tag*****/
.survivor-avatar-name-tag {
  display: inline-flex;
  flex-direction: row;
}
.survivor-avatar-name-tag img{
  max-width: 30px;
  max-height: 30px;
  margin: 5px;
  flex-grow: 1;
}
.survivor-avatar-name-tag div{
  margin: auto;
  flex-grow: 1;
}
/****** stats-overview/compare *******/
.stats-overview{
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
}
.stats-entry {
  display: flex;
  width: 200px;
  border: 1px solid grey;
}
.stats-entry div {
  flex-grow: 1;
  border: 1px solid black;
  flex-basis: 50%;
  text-align: center;
}
.stats-entry:nth-child(odd) {
  background-color: grey;
}
.stats-compare {
  width: 300px;
}
.stats-compare-entry {
  width: auto;
}
.stats-compare-entry div {
  flex-basis: 25%px;
  flex-grow: 1;
}

.stats-compare-header {
  background-color: lightgray;
  display: flex;
}
.stats-compare-header div {
  flex-grow: 1;
  flex-basis: 25%;
  text-align: center;
  border: 1px solid black;
}
.stats-compare-even {
  background-color: yellow;
}

.stats-compare-better {
  background-color: ForestGreen;
}

.stats-compare-worse {
  background-color: DarkRed;
}
/*** Survivor selection***/
.survivors-selection-panel .stats-overview {
  display: flex;
  flex-direction: row;
}
.survivors-selection-panel .survivor-panel{
  border: 1px solid blueviolet;
  margin: 5px;
}
.survivors-selection-panel .survivor-picture{
  width: 100px;
  height: 100px;
  background-color: Magenta ;
  border: 1px dotted black;
  margin: 5px;
}
.survivors-selection-panel .personal-panel {
  display: flex;
}
.survivors-selection-panel .stats-entry {
  display: flex;
  flex-direction: column;
}
.survivors-selection-panel {
  width: 50%;
  min-width: 500px;
}
.survivors-selection-panel .survivor-panel:hover {
  outline-style: outset;
  outline-color: royalblue;
  background-color: lightgray;
}

/******** location selection *********/
.location-selection-panel {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
}
.location-selection-row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.location-entry {
  border: 1px solid black;
  flex-grow: 1;
  /*background-color: red;*/
  width: 100px;
  height: 100px;
  background-color: Magenta;
  background-image: url("../assets/images/location-farm.jpg");
  background-size: cover;
}
.location-entry.empty {
  flex-grow: 1;
}
/*** location-attributes ***/
.location-attributes-panel {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}
.location-attributes-entry {
  display: flex;
  display-direction: row;
  border: 1px solid black;
}
.location-attributes-entry div{
  flex-grow: 1;
  flex-basis: 200px;
  margin: 5px;
}
.location-attributes-entry:nth-child(odd){
  background-color: grey;
}
.location-attributes-name {
  text-align: right;
}

/*** mission selectiin ***/
.mission-selection-panel {
  display: flex;
}
.mission-selection-panel > div{
  /*! display: flex; */
  height: 100%;
}
.mission-selection-active-location-attributes{
  display: flex;
  flex-direction: column;
}

.mission-selection-location-name {
  text-align: left;
  font-size: 2em;
  margin: 5px;
}
.mission-selection-panel .mission-selection-active-location {
  margin: 25px;
}
.mission-selection-panel .location-selection-panel,.mission-selection-panel .location-attributes-panel {
  height: 100%;
}
.mission-selection-panel .location-attributes-panel {
  min-width: 375px;
}
.mission-selection-panel .location-selection-panel .location-entry{
  width: 175px;
  height: 125px;
}
.mission-selection-panel .location-entry:hover{
    box-shadow: inset 0 0 0 1000px  rgba(35, 252, 0, 0.3);
}
.mission-selection-active-selection {
    box-shadow: inset 0 0 0 1000px  rgba(35, 252, 0, 0.3);
}
.survivor-mission-selection-panel {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
}

.survivor-mission-selection-panel > div {
  border: 1px solid black;
  width: 33%;
}
.survivor-mission-selection-panel .survivors-selection-panel{
  border: 1px solid black;
}
#content {
  overflow-y: scroll;
}

/****** mission-report ***********/
.mission-report-headline {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.mission-report-group-list {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

.mission-report-group-list > div {
  border: 1px solid black;
  flex-grow: 1;
  padding: 0px 5px 0px 5px;
}

.mission-report-dead { 
  color: grey;
  text-decoration: underline;
  text-decoration-color: red;
}

.mission-report-alive{
  text-decoration: underline;
  text-decoration-color: green;
}

.mission-report-loot-list {
  display: flex;
}

.mission-report-summary button {
  width: 25px;
  height: 25px;
}
.mission-report-summary table{
  
}

.mission-report-summary td, th{
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.mission-report-summary tr:nth-child(odd){
  background-color: lightgrey;
}

.mission-report-summary tr:first-child{
  background-color: grey;
}

/***** survivor quick view list *****/
.survivor-quick-view-list {
  display: flex;
  flex-direction: column;
}

.survivor-quick-view {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  font-size: 0.9em;
  font-weight: bold;
  margin: 1px;
  /*background-color: lightgray;*/
  background: linear-gradient(lightgray, white);
}

.survivor-quick-view:hover{
  box-shadow:  1px 1px 10px black;
}

.survivor-quick-view > div, img{
  flex-grow: 1;
  
}
.survivor-quick-view-name {
  display: flex;
  flex-basis: 75px;
  text-shadow: 1px 1px white;
}

.survivor-quick-view-state {
  display: flex;
  justify-content: end;
  margin-right: 5px;
  text-shadow: 1px 1px black;
}

.survivor-quick-view-name, .survivor-quick-view-state {
  align-items: center;
}

.survivor-quick-view-state-idle {
  color: yellow;
}
.survivor-quick-view-state-preparing {
  color: green;
}
.survivor-quick-view img {
  max-width: 30px;
  max-height: 30px;
  margin: 2px;
  border: 1px solid grey;
}
/******* Mission Control UI *******/
.mission-control nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid black;
}
.mission-control button{
  margin: 2px;
}
/******* Mission Quick View *****/
.mission-quick-view-list {
  display: flex;
  flex-direction: column;
}

.mission-quick-view {
  display: flex;
  border: 1px solid black;
  margin: 3px;
  max-height: 130px;
  flex-basis: 130px;
}
.mission-quick-view-survivor-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mission-quick-view-location-container{
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  max-width: 100px;
  text-align: center;
  margin: 3px;
}

.mission-quick-view-location-container img{
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}
