* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  /* background: linear-gradient(-20deg, darkgreen, black 250%); */
  /**background: linear-gradient( grey, white);**/
  background: radial-gradient(circle, white, grey 60%, black);
  overflow: hidden;
}
/****util ****/
.bordered {
  border: 2px solid black;
  border-collapse: collapse;
}

.vertical-align {
  display: flex;
  flex-direction: column;
}

.back-button,
.menu-button,
.confirm-button,
nav > button
{
  width: 200px;
  height: 55px;
  font-size: 1.2em;
  text-shadow: 1px 1px black;
  color:  white;
  box-shadow: 1px 1px 2px black;
  border: 1px solid black;
  margin: 2px;
}
.menu-button, nav > button {
  background: linear-gradient(red,black);
  color: white;
}

.menu-button:hover, nav > button:hover{
   box-shadow: 1px 1px 5px black;
   background: linear-gradient(darkred,black);
   border: 2px solid white;
}

.confirm-button {
  background-color: lightgreen;
  background: linear-gradient(lightgreen, green);
}

.confirm-button:hover{
  box-shadow: 1px 1px 5px black;
  background: linear-gradient(lightgreen, darkgreen);
}

.back-button {
  background-color: red;
  background: linear-gradient(red, darkred);
}
.back-button:hover{
  box-shadow: 1px 1px 5px black;
  background: linear-gradient(rgb(252, 81, 81),rgb(134, 40, 40));
}
.clickable,
.survivor-quick-view,
.header-additional-infos button,
.back-button,
.confirm-button,
.menu-button,
nav > button{
  cursor: pointer;
}

.message-box::after {
  content: "\f003";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  padding: 3px;
}
.updatable-notify{
  
  padding: 3px;
}
.no-update{
  border: 1px solid grey;
  background-color: lightgray;
  box-shadow: inset 1px 1px 1px black;
}

.notify-update{
  border: 1px solid darkgreen;
  background: radial-gradient(green,darkgreen);
  
  position: relative;
  animation-name: notify-information-animation;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.notify-update::before{
  position: absolute;
  content: "NEW";
  color: white;
  text-shadow: 1px 1px 1px blue;
  font-size: 0.6em;
  bottom: -15%;
  right: -10%;
  
  animation: blinking-text-small-to-big 800ms ease-in-out infinite;
}


/**** header-section ******/
header {
  height: 10%;
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
header nav button {
  max-width: 200px;
  flex-grow: 1;
  font-size: 1.4em;
}
header .resource-view {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
header .resource-view div {
  flex-grow: 1;
  max-width: 150px;
  border: 1px black solid;
  margin-left: 1px;
  margin-right: 1px;
}

header .header-additional-infos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/***** loot-item-view*******/
.loot-item-view {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 5px;
  
}
.loot-item-icon {
  width: 150px;
  height: 150px;
  background-color: blueviolet;
  border: 1px solid black;
  margin: 3px;
}

.loot-item-icon img{
  max-width: 100%;
  max-height: 100%;
}
.loot-item-name{
  text-align: center;
}

/**** content-section ******/
.container {
  display: flex;
  flex-grow: 1;
  /*! max-height: 90%; */
  height: 90%;
}
main {
  flex-grow: 1;
  flex-basis: 85%;
  max-height: 100%;
}

section {
  flex-basis: 15%;
  flex-grow: 1;
}

.end-round-bttn {
  height: 50px;
  font-size: 1.1em;
  box-shadow: 1px 1px 5px black;
  text-shadow: 1px 1px 1px white;
  color: black;
  background-color: lightgreen;
}
.end-round-bttn:hover{
  box-shadow: 1px 1px 10px green;
  font-size: 1.15em;
}
#bttn-end-round {
  margin: 5px;
}

/***** Survivor Avatar Name Tag*****/
.survivor-avatar-name-tag {
  display: inline-flex;
  flex-direction: row;
}
.survivor-avatar-name-tag img{
  max-width: 30px;
  max-height: 30px;
  margin: 5px;
  flex-grow: 1;
}
.survivor-avatar-name-tag div{
  margin: auto;
  flex-grow: 1;
}
/****** stats-overview/compare *******/
.stats-overview{
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
}
.stats-entry {
  display: flex;
  width: 200px;
  border: 1px solid grey;
}
.stats-entry div {
  flex-grow: 1;
  border: 1px solid black;
  flex-basis: 50%;
  text-align: center;
}
.stats-entry:nth-child(odd) {
  background-color: grey;
}
.stats-compare {
  width: 300px;
}
.stats-compare-entry {
  width: auto;
}
.stats-compare-entry div {
  flex-basis: 25%px;
  flex-grow: 1;
}

.stats-compare-header {
  background-color: lightgray;
  display: flex;
}
.stats-compare-header div {
  flex-grow: 1;
  flex-basis: 25%;
  text-align: center;
  border: 1px solid black;
}
.stats-compare-even {
  background-color: yellow;
}

.stats-compare-better {
  background-color: ForestGreen;
}

.stats-compare-worse {
  background-color: DarkRed;
}
/*** Survivor selection***/
.survivors-selection-panel .stats-overview {
  display: flex;
  flex-direction: row;
}
.survivors-selection-panel .survivor-panel{
  border: 1px solid blueviolet;
  margin: 5px;
}
.survivors-selection-panel .survivor-picture{
  width: 100px;
  height: 100px;
  background-color: Magenta ;
  border: 1px dotted black;
  margin: 5px;
}
.survivors-selection-panel .personal-panel {
  display: flex;
}
.survivors-selection-panel .stats-entry {
  display: flex;
  flex-direction: column;
}
.survivors-selection-panel {
  width: 50%;
  min-width: 500px;
}
.survivors-selection-panel .survivor-panel:hover {
  outline-style: outset;
  outline-color: royalblue;
  background-color: lightgray;
}

/******** location selection *********/
.location-selection-panel {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
}
.location-selection-row {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.location-entry {
  border: 1px solid black;
  flex-grow: 1;
  /*background-color: red;*/
  width: 100px;
  height: 100px;
  background-color: Magenta;
  background-image: url("../assets/images/location-farm.jpg");
  background-size: cover;
}
.location-entry.empty {
  flex-grow: 1;
}
/*** location-attributes ***/
.location-attributes-panel {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}
.location-attributes-entry {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}
.location-attributes-entry div{
  flex-grow: 1;
  flex-basis: 200px;
  margin: 5px;
}
.location-attributes-entry:nth-child(odd){
  background-color: grey;
}
.location-attributes-name {
  text-align: right;
}

/*** mission selectiin ***/
.mission-selection-panel {
  display: flex;
}
.mission-selection-panel > div{
  /*! display: flex; */
  height: 100%;
}
.mission-selection-active-location-attributes{
  display: flex;
  flex-direction: column;
}

.mission-selection-location-name {
  text-align: left;
  font-size: 2em;
  margin: 5px;
}
.mission-selection-panel .mission-selection-active-location {
  margin: 25px;
}
.mission-selection-panel .location-selection-panel,.mission-selection-panel .location-attributes-panel {
  height: 100%;
}
.mission-selection-panel .location-attributes-panel {
  min-width: 375px;
}
.mission-selection-panel .location-selection-panel .location-entry{
  width: 175px;
  height: 125px;
}
.mission-selection-panel .location-entry:hover{
    box-shadow: inset 0 0 0 1000px  rgba(35, 252, 0, 0.3);
}
.mission-selection-active-selection {
    box-shadow: inset 0 0 0 1000px  rgba(35, 252, 0, 0.3);
}
.survivor-mission-selection-panel {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
}

.survivor-mission-selection-panel > div {
  border: 1px solid black;
  width: 33%;
}
.survivor-mission-selection-panel .survivors-selection-panel{
  border: 1px solid black;
}
#content {
  overflow-y: auto;
}

/****** mission-report ***********/
.mission-report-headline {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

.mission-report-group-list {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

.mission-report-group-list > div {
  border: 1px solid black;
  flex-grow: 1;
  padding: 0px 5px 0px 5px;
}

.mission-report-dead { 
  color: grey;
  text-decoration: underline;
  text-decoration-color: red;
}

.mission-report-alive{
  text-decoration: underline;
  text-decoration-color: green;
}

.mission-report-loot-list {
  display: flex;
}

.mission-report-summary button {
  width: 25px;
  height: 25px;
}
.mission-report-summary table{
  
}

.mission-report-summary td, .mission-report-summary th{
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.mission-report-summary tr:nth-child(odd){
  background-color: lightgrey;
}

.mission-report-summary tr:first-child{
  background-color: grey;
}

/***** survivor quick view list *****/
.survivor-quick-view-list {
  display: flex;
  flex-direction: column;
}

.survivor-quick-view {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  font-size: 0.9em;
  font-weight: bold;
  margin: 1px;
  /*background-color: lightgray;*/
  background: linear-gradient(lightgray, white);
}

.survivor-quick-view:hover{
  box-shadow:  1px 1px 10px black;
}

.survivor-quick-view > div, img{
  flex-grow: 1;
  
}
.survivor-quick-view-name {
  display: flex;
  flex-basis: 75px;
  text-shadow: 1px 1px white;
}

.survivor-quick-view-state {
  display: flex;
  justify-content: end;
  margin-right: 5px;
  text-shadow: 1px 1px black;
}

.survivor-quick-view-name, .survivor-quick-view-state {
  align-items: center;
}

.survivor-quick-view-state-idle {
  color: yellow;
}
.survivor-quick-view-state-preparing {
  color: green;
}
.survivor-quick-view img {
  max-width: 30px;
  max-height: 30px;
  margin: 2px;
  border: 1px solid grey;
}
/******* Mission Control UI *******/
.mission-control nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid black;
}
.mission-control button{
  margin: 2px;
}
/******* Mission Quick View *****/
.mission-quick-view-list {
  display: flex;
  flex-direction: column;
}

.mission-quick-view {
  display: flex;
  border: 1px solid black;
  margin: 3px;
  max-height: 130px;
  flex-basis: 130px;
}
.mission-quick-view-survivor-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.mission-quick-view-location-container{
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  max-width: 100px;
  text-align: center;
  margin: 3px;
}

.mission-quick-view-location-container img{
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

/****** Survivor Info Panel *******/
.survivor-info-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.survivor-info-panel > div, .survivor-info-panel img {
}

.survivor-info-panel img {
  max-width: 150px;
  max-height: 150px;
  width: 150px;
  height: 150px;
}

.survivor-info-panel-name {
  text-align: center;
  font-size: 1.3em;
  text-shadow: 1px 1px 5px white;
  color: black;
}
/****** Equipment-Panel *******/
.equipment-panel {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  max-height: 200px;
  
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
}
.equipment-panel-slot {
  font-size: 1.2em;
}
.equipment-panel-nothing, equipment-panel img {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  box-shadow: 1px 1px 2px black;
  flex-grow: 1;
  background-color: purple;
}

.equipment-panel-nothing {
  background: linear-gradient(to bottom, white, grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: lightyellow;
  text-shadow: 1px 1px 1px black;
  flex-grow: 1;
}


/****** Equip-Panel *******/
.equip-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.equip-panel > div {
  display: flex;
  flex-direction: row;
}

.equip-panel-row > div{
  margin: 15px;
}


/****** Survivor Overview *******/

.survivor-overview .equipment-panel-icon:hover{
  box-shadow: 2px 2px 15px lightskyblue;
}
.survivor-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.survivor-overview .survivor-info-panel{
  margin: 10px;
}
.survivor-overview .equip-panel {
  flex-grow: 1;
}
.survivor-overview nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 1500px) { /*** just a fun example */
  .survivor-overview nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/****** inventory *****/
.inventory-view{
  display: flex;
  flex-wrap: wrap;
}
.inventory-view table {
  width: 100%;
}

.inventory-view td, .inventory-view th {
  padding: 5px;
}
.inventory-view tr{
  background-color: wheat;
}
.inventory-view td {
  border: 1px solid black;
}
.inventory-view tr:nth-child(odd){
  background-color: white;
}
.inventory-view th{
  background: linear-gradient( lightsalmon, white);
  border: 2px outset black;
}
.inventory-view tr:hover{
  box-shadow: 1px 1px 5px black;
  background: linear-gradient(lightgreen, green);
}

/**** message center ****/
.message-center {
  background-color: yellow;
  height: 100%;
}

.message-center-entry {
  background: linear-gradient(lightgrey, whitesmoke);
  margin: 5px;
  box-sizing: content-box;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  padding: 5px 5px 0px 5px;
}
.message-center-entry-headline {
  font-size: 1.2em;
  text-decoration: underline;
  margin-bottom: 5px;
}
.message-center-entry-body {
  
}
.message-center-entry-link {
  padding: 5px 0px 5px 0px;
  font-size: 0.7em;
  border-top: 2px solid black;
}

.message-center-list {
  height: 100%;
  overflow-y: scroll;
}

/**** crafting ****/
.crafting-view {
  
}

.crafting-view-entry-list {
  box-shadow: 1px 1px black;
  background: radial-gradient(white,rgba(255,255,255,0.5));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.crafting-view-recipe-entry{
  box-sizing: border-box;
  box-shadow: 2px 2px 5px black;
  margin: 3px;
  width: 32%;
  min-width: 175px;
  height: 125px;
  display: flex;
  flex-direction: column;
}
.crafting-view-recipe-entry:hover{
  /*border: 2px solid #FF0000FF;*/
  box-shadow: 2px 2px 10px #6185d1;
}

.crafting-view-recipe-entry.crafting-view-recipe-available{
  background-color: green;
}
.crafting-view-recipe-entry:not(.crafting-view-recipe-available){
  /*background-color: red;*/
  box-shadow: inset 1000px 1000px #777777BB, 2px 2px 5px black;
}
.crafting-view-recipe-entry-headline{
  padding: 2px;
  margin: 2px;
  background: linear-gradient(rgba(140,140,140), #FFFFFFAA);
  box-shadow: 1px 1px 3px black;
  text-align: center;
  height: 15%;
}
.crafting-view-recipe-entry-description{
  margin: 5px;
  background-color: #77777777;
  height: 70%;
}
.crafting-view-recipe-entry-cost{
  color: red;
  background-color: #000000AA;
  flex-grow: 1;
  text-align: right;
  height: 15%;
  margin: 0px 5px 5px 5px;
  padding-right: 5px;
}

.crafting-view-recipe-entry.crafting-view-recipe-available .crafting-view-recipe-entry-cost{
  color: green;
  text-shadow: 1px 1px 1px black;
  font-size: 1.1em;
}