* {
    margin: 0px;
    padding: 0px;
}

.menu {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    background: #8080806c;
    border: 1px solid black;
}

.controls {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.controls span {
    margin-right: 5px;
}

.weapon-designer {
    display: flex;
    flex-direction: row;
}

.weapon-designer .side-panel {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.weapon-designer .canvas-container {
    flex-grow: 1;
    height: 100vh;
}

.weapon-designer canvas {
    width: 100%;
    height: 100%;
}

.weapon-designer .side-panel .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.weapon-designer .stats-heading span:not(:first-child),
.weapon-designer .side-panel input {
    max-width: 3em;
}

.weapon-designer .stats-heading span:first-child,
.weapon-designer .side-panel span {
    flex-grow: 1;
    text-align: right;
}

.weapon-designer .side-panel button {
    flex-direction: row;
    flex-grow: 1;
    padding: 0.3em;
    margin: 0.1em;
}
.weapon-designer .stats-heading,
.weapon-designer .stats-entry {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

.weapon-designer .stats-heading *,
.weapon-designer .stats-entry * {
    margin-right: 0.5em;
}

